[tool.pysen]
version = "0.10"

[tool.pysen.lint]
enable_black = true
enable_isort = true
enable_mypy = true
mypy_preset = "strict"
line_length = 88

  [[tool.pysen.lint.mypy_targets]]
    paths = ["src"]

[tool.isort]
profile = "black"
line_length = 88

[tool.mypy]
python_version = "3.9"
ignore_missing_imports = true

[tool.black]
line-length = 88
